@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Spartan-SemiBold.ttf");
}
@font-face {
  font-family: "Alethia Next";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alethianext-light.otf");
}