@import "variables";

.main-card {
  display: flex;
  justify-content: space-between;
  padding: 27.64px 21px 19.9px 23.21px;
  width: 336.06px;
  height: 181.3px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  backdrop-filter: blur(30.4001px);
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 28%);

  &__column1 {
  }

  &__title {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 17.6873px;
    line-height: 35px;
    color: #FFFFFF;
  }

  &__profile {
    display: flex;
    column-gap: 3.32px;
  }

  &__profile-img {
    display: flex;
    align-items: center;
    img{
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
  }

  &__profile-name {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 15.4764px;
    line-height: 35px;
    color: #FFFFFF;
  }

  &__profile-tick {
  }

  &__info {
  }

  &__info-title {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 11.0546px;
    line-height: 35px;
    color: #FFFFFF;
    opacity: 0.7;

  }

  &__price {
    display: flex;
    align-items: center;

  }

  &__price-icon{

  }

  &__price-eth {
    margin-left: 1.62px;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 9.71776px;
    color: #FFFFFF;
  }

  &__price-usd {
    margin-left: 5.53px;
    margin-top: 1px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 11.0546px;
    color: #FFFFFF;
    opacity: 0.7;
  }

  &__column2 {
  }

  &__timer {
    display: flex;
    align-items: center;
    column-gap: 17.69px;
  }

  &__time {

  }

  &__time-num {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 17.6873px;
    color: #FFFFFF;
  }

  &__time-word {
    margin-top: 7px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 11.0546px;
    color: #FFFFFF;
    opacity: 0.7;
  }

  &__button {
    margin-top: 30px;
  }
}