$textColor: #FFFFFF;
@mixin gradientTextColor{
  background: linear-gradient(269.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

$gradientBackground: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
$gradientBorder: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);



$Aldrich: 'Aldrich', sans-serif;
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
$Inter: 'Inter', sans-serif;
$Lato: 'Lato', sans-serif;
$MuseoModerno: 'MuseoModerno', cursive;

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-Bold.woff2') format('woff2'),
  url('../fonts/Orbitron-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$Orbitron: 'Orbitron', sans-serif;
$Rajdhani: 'Rajdhani', sans-serif;
$Roboto: 'Roboto', sans-serif;

@font-face {
  font-family: 'Spartan';
  src: url("../fonts/Spartan-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Alethia Next';
  src: url('../fonts/AlethiaNext-Light.woff2') format('woff2'),
  url('../fonts/AlethiaNext-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

$Spartan: 'Spartan', sans-serif;
$AlethiaNext: 'Alethia Next', sans-serif;


@mixin container{
  margin: 0 auto;
  @media screen and (max-width: 9999999px) {
    max-width: 1400px;
    $container: 1400px;
  }
  @media screen and (max-width: 1400px) {
    max-width: 1140px;
    $container: 1140px;
  }
  @media screen and (max-width: 1199px) {
    max-width: 960px;
    $container: 960px;
  }
  @media screen and (max-width: 991px) {
    max-width: 720px;
    $container: 720px;
  }
  @media screen and (max-width: 767px) {
    max-width: 540px;
    $container: 540px;
  }
  @media screen and (max-width: 575px) {
    padding: 0 25px;
    max-width: calc(100%);
    $container: calc(100%);
  }
}








